body {
    margin: 0px;
    background-color: rgb(50, 50, 50);
}

h1 {
    color: white;
    text-align: center;
}

.navbar {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    backdrop-filter: blur(50%);
    opacity: 0.5;
}